.formContato {
  margin: 2rem auto;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.formContato label {
  font-weight: bold;
  font-size: 0.9rem;
}

.formContato input,
.formContato textarea {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

.formContato textarea {
  height: 100px;
  resize: none;
}

.formContato button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background-color: #3d0461;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.formContato button:hover {
  opacity: 0.9;
}
