#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}

h1 {
  color: dimgray;
  text-align: center;
}

.btn-cadastro {
  display: inline-block;
  margin: 1rem 0 2rem 0;
  padding: 0.7rem 1.5rem;

  background-color: #3d0461;
  color: white;

  text-decoration: none;
  border-radius: 8px;

  font-size: 1rem;
  font-weight: 600;

  transition: 0.2s;
}

.btn-cadastro:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
